.product{
    width: 300px;
    height: 500px;
    border:2px solid mediumvioletred;
    border-radius: 10px;
    padding: 5px;
    margin: 7px; 
    position: relative;  
}
.product-info{
       
}
.product img{
    width: 250px;
    height: 250px;
}
.button-cart{
    width: 100%;
    background-color: blueviolet;
    color: chartreuse;
    padding: 5px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    position:absolute;
    bottom: 0;
}
.button-text{
    margin-left: 5px;
}
.button-cart:hover{background-color: chocolate;}